RHT_OCP4_MASTER_API=https://api.na410.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.na410.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.na410.prod.nextcle.com
RHT_OCP4_DEV_USER=wipupi
RHT_OCP4_DEV_PASSWORD=0f3470fb3d024f5fba36
RHT_OCP4_GITHUB_USER=leonardotorresadiera
RHT_OCP4_QUAY_USER=leonardo_adiera
